# Environment variable examples.
# Do not put secrets in this file.
# Create local environment files outside version control as needed.

NODE_ENV=
PORT=

KINTONE_BASE_URL=
KINTONE_USERNAME=
KINTONE_PASSWORD=

KINTONE_APP_CUSTOMERS=
KINTONE_APP_CONTRACTS=
KINTONE_APP_LICENSES=
KINTONE_APP_PLUGINS=
KINTONE_APP_PLUGIN_VERSIONS=
KINTONE_APP_DOMAINS=
KINTONE_APP_AUTH_LOGS=

LICENSE_KEY_SECRET=
DOWNLOAD_TOKEN_SECRET=
API_KEY=
